/* Center content both horizontally and vertically */
body, html {
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  position: relative;
  top: 0;
  align: center;
}

/* Main content window stylings */
.main-window {
  text-align: center;
  background-color: lightblue;
  padding: 20px;
  border: 1px solid red;
  border-radius: 5px;
  max-width: 400px;
  /* Use flexbox for the layout */
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.lets-go-btn,
.quiz-rules-btn,
.submit-btn {
  background-color: lightpink;
  padding: 10px 20px;
  color: red;
  border-radius: 5px;
  cursor: pointer;
  margin-top:10px;
}


input {
  padding: 10px;
  margin: 10px 0;
}

.game-rules {
  /* Rules window stylings */
  display: none;
  font-family: Arial;
  text-align: left;
  padding: 20px;
}

.game-rules h2 {
  margin-bottom: 20px;
  text-align: center;
}

