body, html {
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-window {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}